@font-face {
    font-family: 'allerLt';
    src: url('../fonts/Aller_Lt.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerRg';
    src: url('../fonts/Aller_Rg.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerdisplay';
    src: url('../fonts/AllerDisplay.ttf');
    font-weight: bold;
    font-style: normal;

}

p {
  line-height: 1.8;
}

#intro h1 {
  font-size: 50px;
  color: #EF6F6C;
  margin-bottom: 10px;
}

#intro h4 {
  padding-left: 85px;
  margin-top: 0;
  font-size: 1.6rem;
}

#intro p {
  font-size: 1.2rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "allerRg";
  color: #595959
}

hr {
  box-sizing: border-box;
}

.social {
  padding: 10px;
  color: white;
}

/*#page {
  display: flex;
}*/

#navbar {
  width: 20em;
  background-color:#65C6B0;
  color: white;
  position: fixed;
  right: 0;
  top:0;
  text-align: center;
  font-family: "allerdisplay";
  height: 100vh;
}

#navbar .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  margin: 15% auto;
  
  
}


#main {
  padding-right: 20em;
  /*width: 100%;*/
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 50px auto;
  width: 75%;
}

#profile-pic {
  display: block;
  width: 12em;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 10px;
}

#top {
  height: 200px;
  background-image: url("../assets/images/jewel.jpg");
  background-size: 100%;
  /*background-color: #004466;*/
  text-align: center;
}

@media only screen and (min-height: 650px) {
  #nav {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
}

#nav-header {
  font-family: "allerdisplay";
}

#nav-header h5 {
  margin: 25px 0;
}

#nav-header h5 a{
  color: white;
}

.active {
  background-color: white;
  color: #EF6F6C !important;
  display: block;
  padding: 10px;
  border-radius: 10px;
}


.title {
  color: #65C6B0;
}


h1, .title{
  font-family: "allerdisplay", "allerRg"; 
}

/*#nav-header h1 {
  font-family: "allerLt";
}*/

.link {
  padding: 0.9em;
  font-size: 1.1rem;
}

.link a {
  color: white;
}

/*.active a {
 color: #EF6F6C;
}

.active h5 {
 color: #EF6F6C;
}*/
/*
#contact-info {
  text-align: center;
  padding: 1em;
}*/

.card {
  margin: 15px;
}

footer {
  background-color: #EF6F6C;
  color: white;
  padding-left: 30px;
  padding-bottom: 20px;
}

.into {
  color: #EF6F6C;
  padding: 20px 0 15px 15px;;
}

#hamburger {
  display: none;
}

@media only screen and (max-width:800px) {
  #nav-header, #nav  {
    display: none;
  }

  #navbar {
    width: 60px; 
  }

  #main {
  padding-right: 60px;
  /*width: 100%;*/
  }

  #hamburger {
    display: inline-block;
  }
}

#nav-dropdown {
  width: 200px !important;
}
